<!-- <p>home works!</p> -->

<!-- <nav class="navbar">
    <div class="max-width">
      <div class="logo"><a href="#">Portfo<span>lio</span></a></div>
      <ul class="menu">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/skill">Skills</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="login">Login</a></li>
         <li><a href="#">login</a></li> -->
       <!-- </ul>
       <div class="menu-btn"><i class="fas fa-bars"></i></div> -->
      
    <!-- </div> -->
  <!-- </nav> -->
<app-dashboard></app-dashboard>
<section class="home" id="home" fxLayoutAlign="start">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">Hello , my name is</div>
            <div class="text-2">Nancy Sahu</div>
            <div class="text-3">And i am a <span>Web Developer</span></div>
        </div>
    </div>
</section>
